
body {
  
    background-color: #4aa2bd;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background: #ddd4d4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
    text-align: center;
}

h1 {
    color: #333;
}

.search-section {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    width: 70%;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #1b2b85;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#loading,
#error {
    margin: 20px 0;
    color: red;
}

.hidden {
    display: none;
}

#movieDetails {
    text-align: left;
    margin-top: 20px;
    line-height: 1.6;
}

#movieDetails h2 {
    color: #333;
    margin-bottom: 10px;
}