
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 10px;
    background-color: #f4f4f4;
}

.calculator {
    border: 2px solid #333;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(171, 230, 244);
    width: 310px;  
}

.calculator-screen {
    width: 90%; 
    height: 40px;
    margin-bottom: 20px;
    font-size: 25px;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    text-align: right; 
    border-radius: 5px;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(4, 70px);
    gap: 10px;
    justify-items: center;  
}

.key {
    width: 60px;
    height: 60px;
    background-color: #333;
    color: white;
    font-size: 25px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;  
}
.operator{
    width: 60px;
    height: 60px;
    background-color:  #ff9800;;
    color: white;
    font-size: 25px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;  

}
.decimal{
    width: 60px;
    height: 60px;
    background-color: #333;
    color: white;
    font-size: 25px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; 
}
.result{
    width: 60px;
    height: 60px;
    background-color:   #4CAF50;
    color: white;
    font-size: 25px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;  
}


#clear {
    background-color: red;
    width: 60px;
    height: 60px;
    font-size: 25px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

